# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Saved ML models (we'll generate these later)
models/*.pkl
models/*.npy

# Streamlit cache
.streamlit/